
@font-face {
    font-family: "MyFont";
    src: url("./Ubuntu-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    border-style: none;
    list-style: none;
    font-family: "MyFont";
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: white;
}

.mainContainer {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    box-shadow: 6px 6px 6px  rgb(175, 175, 175);
}

.projectHeader {
    text-align: start;
    padding: 15px 20px;
    border-bottom: 1px solid black;
}

aside {
    height: 100vh;
    width: 20vw;
}

.sideBar {
    position: fixed;
    height: 100vh;
    width: 20vw;
}

.dueBy {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dueBy li {
    display: flex;
    padding: 10px 0px;
    border-radius: 15px;
    gap: 20px;
    color: white
}

.dueBy li:hover {
    background-color: rgb(56, 56, 56);
}

.dueBy img {
    height: auto;
    width: 30px;
}

aside, 
.sideBar,
.dueBy button,
.addProject {
    background-color: #2e2e2e;
}

.sideBarItems {
    padding: 25px 15px;
}

.dueBy > li,
.profDiv,
.myProjectsDiv {
    padding-left: 15px;
    padding-right: 15px;
}

.dueBy div,
.myProjectsDiv > ul {
    font-size: 1.6em;
}

.profDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 45px;
}

.profPic {
    height: auto;
    width: 50px;
}

.profPic, 
.dueBy img{
    padding: 2px;
    background-color: white;
    border-radius: 50%;
}


.myProjectsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

main {
    height: 80%;
    width: 50%;
    border-radius: 15px;
    background-color: #2e2e2e;
}

.container {
    display: flex;
    flex-direction: column;
}

.itemContainer {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    padding: 20px 20px;
    margin: 10px 40px;
}

.itemDetails {
    width: 100%;
}

.itemDetails > div:first-of-type {
    font-size: 1.3rem;
}

.itemDetails > div:nth-child(2) {
    color: gray;
}

.addTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.addToDoItem {
    font-size: 1.5rem;
}

.addToDoItem,
.addProject {
    font-size: 2em;
    padding: 6px 15px;
    border-radius: 50%;
    color: white;
    background-color: #2e2e2e;
    transition: 0.3s;
}

.addToDoItem:hover,
.addProject:hover {
    color: #464866;
    background-color: white;
    transform: rotate(180deg);
    transition: 0.3s;
}

dialog {
    position: absolute;
    top: 25%;
    left: 50%;
    border-radius: 15px;
}

dialog > div {
    font-size: 1.3rem;
}

dialog input {
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px;
    border-radius: 15px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form > div:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

form > button {
    border-radius: 8px;
    padding: 5px 10px;
    margin-top: 15px;
}

form select {
    padding: 5px;
    width: 20%;
    border-radius: 15px;
}

.formHeader {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}